---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
//GraphQL
import { wpquery } from '../graphql/wpQuery';
import type { Post } from "../generated/graphql";
//Dialogo Politico Componentes
import HeroCarousel from '../components/dp/HeroCarousel';
import LatestPosts from '../components/dp/LatestPosts.jsx';
import Social from '../components/dp/Social.astro';
import Editions from '../components/dp/Editions';
import Recent from '../components/dp/Recent';
import EditionBanner from '../components/dp/EditionBanner.astro';
import Trends from '../components/dp/Trends';
import RecentBooks from '../components/dp/RecentBooks';
import DPCampusBanner from '../components/dp/DPCampusBanner.astro';
import DPPodcast from '../components/dp/DPPodcast.astro';


const metadata = {
  title: 'Dialogo Político',
  ignoreTitleTemplate: true,
};

const last5AgendaPosts = await wpquery({
  query: `
  {
	posts(first: 5){
    nodes {
      id
      slug
      excerpt
      title
      date
      featuredImage {
        node {
          sourceUrl
        }
      }
      categories {
        nodes {
          name
        }
      }
      author{
         node {
          name
        }
      }
    }
  }
}
  `,
});
const recentDPEnfoque = await wpquery({
  query:`{
    posts(where: { categoryName: "Documentos" }){
    nodes {
      id
      slug
      title   
      featuredImage {
        node {
          sourceUrl
        }
      }
    }
  }
  }`
});

const recentBooks = await wpquery({
  query:`{
    posts(where: { categoryName: "Libros" }){
    nodes {
      id
      slug
      title   
      featuredImage {
        node {
          sourceUrl
        }
      }
    }
  }
  }`
});
/*
const postsByAuthor = await wpQuery({
  query:`
  {
    allContentfulAuthor(filter: {slug: {eq: "myslug"}}) {
    edges {
      node {
        name
        article {
          title
          slug
        }
      }
    }
  }
}
  `
});*/


---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <HeroCarousel client:load data={last5AgendaPosts.posts.nodes}/>
  <Social/>
  <h2 class="max-w-screen-lg mx-auto titles text-2xl font-bold">Más artículos recientes</h2>
  <LatestPosts client:load data={last5AgendaPosts.posts.nodes}/>
  <EditionBanner/>
  <h2 class="max-w-screen-lg mx-auto titles text-2xl font-bold">Más ediciones</h2>
  <Editions client:load/>
  <h2 class="max-w-screen-lg mx-auto titles text-2xl font-bold">Tendencias</h2>
  <Trends client:load data={last5AgendaPosts.posts.nodes}/>
  <DPCampusBanner/>
  <Recent client:load data={recentDPEnfoque.posts.nodes}/>
  <RecentBooks client:load data={recentBooks.posts.nodes}/>
  <DPPodcast/>
</Layout>
